In [5]:
import pandas as pd
import random

#### Marilyn: 
- Imported the pandas and random librabries
- Simulated the transactions
- Saved the transactions to a csv file called  "'supermarket_transactions.csv'"

In [6]:
#define the pool of items that can appear in a transaction
item_pool = ['Milk', 'Eggs', 'Butter', 'Cheese', 'Bananas', 'Bread', 'Apples', 'Chicken','pork', 'beef', 'strawberries','pineapples', 'watermelon','lemon','melon', 'avocadoes', 'dragonfruit', 'orange', 'kiwi', 'flour', 'rice', 'sugar','salt','noodles','potato','onion','fruitjuice','garlic', 'okra','cucumbers']

In [7]:
# for reproducibility
random.seed(42)
 # List to hold transactions
transactions = []
# Generate 3000 fake transactions, each with 2â€“7 random items and store them in a list
for _ in range(3000): 
    num_items = random.randint(2, 7) 
    transaction = random.sample(item_pool, num_items)
    transactions.append(transaction) 

# Convert the transactions into a DataFrame where each row = one transaction and items separated by comma)
transactions_df = pd.DataFrame({'Transaction': [', '.join(items) for items in transactions]})

# Save to CSV
transactions_df.to_csv('supermarket_transactions.csv', index=False)
# Display the first few transactions

transactions_df.head()

                                         Transaction
0  Cheese, Milk, noodles, pork, Chicken, onion, B...
1  Cheese, sugar, noodles, orange, Butter, kiwi, ...
2                                       Milk, Butter
3                        Chicken, dragonfruit, flour
4                                     orange, Apples

CHAD:

1.Extracted all unique items across all transactions using a set and sorted() to create a consistent column order.

2.Created a one-hot encoded structure, where:

    -Each row represents a single transaction.
    -Each column represents an item.
    -Cell values are True if the item is present in that transaction, otherwise False.

3.Stored the encoded transactions as a list of dictionaries (encoded_data), each mapping item names to boolean values.

4.Converted the list of dictionaries into a Pandas DataFrame (df), suitable for input into the mlxtend.frequent_patterns.apriori() algorithm.

In [10]:
# Convert to one-hot encoded DataFrame
all_items = sorted(set(item for transaction in item_pool for item in transaction)) 
encoded_data = []
for transaction in item_pool:
    encoded_data.append({item: (item in transaction) for item in all_items})
df = pd.DataFrame(encoded_data)